*.pid
*.timestamp
*.log
*.bak
*~
.DS_Store
__pycache__/
*.pyc
.uuid
*.wal
*.sock

# IDE / Browser / App runtime caches & session data
config/Antigravity/Cache/
config/Antigravity/Code Cache/
config/Antigravity/Crashpad/
config/Antigravity/DawnGraphiteCache/
config/Antigravity/DawnWebGPUCache/
config/Antigravity/GPUCache/
config/Antigravity/Local Storage/
config/Antigravity/Session Storage/
config/Antigravity/Shared Dictionary/
config/Antigravity/blob_storage/
config/Antigravity/logs/
config/Antigravity/Dictionaries/
config/Antigravity/DIPS*
config/Antigravity/Cookies*
config/Antigravity/Trust Tokens*
config/Antigravity/SharedStorage*
config/Antigravity/Network Persistent State
config/Antigravity/.org.chromium.*
config/Antigravity/DevToolsActivePort
config/Antigravity/Singleton*
config/Antigravity/Preferences

config/ryomotion/

# Temp caches in configs
config/obs-studio/logs/
config/obs-studio/profiler_data/
config/qBittorrent/rss/
config/qBittorrent/lockfile
config/systemd/user/default.target.wants/
config/systemd/user/sockets.target.wants/
config/systemd/user/timers.target.wants/

